# Node.js dependencies
/node_modules
/npm-debug.log
/yarn-error.log
package-lock.json
yarn.lock

# Expo specific files
/.expo
/.expo-shared

# React Native build files
/android
/ios
*.keystore

# IDE settings
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# Logs and caches
*.log
/.cache
/tmp
/coverage
.DS_Store

# Environment variables
.env
.env.local
.env.*.local
expo-env.d.ts

# Bundler output
.expo/*
*.expo/*
dist/
build/
*.jsbundle
*.map

# Metro bundler
/index.android.bundle
/index.ios.bundle
